* {
    margin: 0;
    padding: 0;
    font-family: Heebo sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    cursor: pointer;
  }
  .container {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 100px;
  }
  h1,p,a{
    color: #21243D;
  }
  
  #header .container {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
  }
  
  #header {
    padding-block: 30px;
  }
  
  .header {
    display: flex;
    justify-content: flex-end;
    gap: 38px;
  }
  .burger-menu{
    display: none;
    justify-content: flex-end;
  }
  .burger-menu span{
    font-size: 35px;
  }
  header a {
    color: rgba(0, 0, 0, 1);
    width: 57px;
    font-weight: 600;
    font-size: 20px;
  }

  #main{
    padding-block: 50px;
  }
  .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .main-content h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    }
  .main-content p{
    font-size: 16px;
    width: 500px;
  }
  .main-content button{
    width: 208px;
height: 47px;
background-color: #FF6464;
color: #fff;
font-size: 20px;
  }

#post {
  padding-block: 50px;
  background: #edf7fa;
}

.post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.post-top p {
  color: rgba(33, 36, 61, 1);
  font-size: clamp(14px, 0.792rem + 0.42vw, 18px);
}
.post-top a {
  color: rgba(0, 168, 204, 1);
  font-size: clamp(12, 0.667rem + 0.42vw, 16px);
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.post .box {
  max-width: 700px;
  padding: 70px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post .box h1 {
  font-size: clamp(16px, 0.833rem + 0.83vw, 24px);
  font-weight: 600;
}

.post .box h4 {
  font-size: clamp(14px, 0.792rem + 0.42vw, 19px);
  font-weight: 500;
}

.post .box h4 span {
  padding-inline: 8px;
}

.post .box p {
  font-size: clamp(12, 0.667rem + 0.42vw, 16px);
}

.work-title {
  padding-block: 30px;
}
.work-title p {
  color: rgba(33, 36, 61, 1);
  font-size: clamp(14px, 0.792rem + 0.42vw, 19px);
}

.work {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work .box img {
  max-width: 250px;
}

.work .box {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 2px solid rgba(224, 224, 224, 1);
  padding-bottom: 20px;
}

.work-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 590px;
}

.work-content h1 {
  font-size: 28px;
}
.work-date {
  display: flex;
  gap: 18px;
  align-items: center;
}

.work-date h4 {
  font-size: clamp(14px, 0.792rem + 0.42vw, 18px);
  font-weight: 400;
  color: rgba(134, 149, 164, 1);
}
.work-date span {
  background: #142950;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  padding: 2px 8px;
}
.work-content p {
  font-size: clamp(12, 0.667rem + 0.42vw, 16px);
}

#footer {
  padding: 100px 0 50px 0;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-icons img {
  max-width: 100px;
  width: 100%;
}

.footer p {
  font-size: clamp(12, 0.667rem + 0.42vw, 16px);
}
